#write{
    max-width: 90em;
    margin:0 auto;
    padding: 20px 30px 50px;
    font-size: 15px; /* 更改默认字体大小 */
    color: #000000;
    line-height: 1.8; /* 更改默认的行距 */
    word-spacing: 2px; /* 更改默认的词间距 */
    letter-spacing: 2px; /* 更改默认的字符间距 */
    font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;

    /* 增加背景网格 */
    background-image: linear-gradient(90deg,rgba(50,0,0,0.05) 3%,rgba(0,0,0,0) 3%), linear-gradient(360deg,rgba(50,0,0,0.05) 3%, rgba(0,0,0,0) 3%);
    background-size: 20px 20px;
    background-position: center center;
    border: 5px solid #dee7de;
    border-radius: 5px;
    padding: 15px;
}

h1 {
    line-height: 2em;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    color: #446688;
}
h1:before{
    content: "『 "
}
h1:after{
    content: " 』"
}

h2 {
    border-bottom:2px solid rgb(239,112,96);
}
h2 span{
    display: inline-block;
    font-weight: normal;
    background: rgb(239,112,96);
    color:#ffffff;
    padding:3px 10px 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 3px;
}
h2:after{
    display: inline-block;
    content:" ";
    vertical-align:bottom;
    border-bottom: 36px solid #efebe9;
    border-right: 20px solid transparent;
}

h3{
    margin-left: 5px;
    letter-spacing: 2px;
}
h3:before{
    content: "➤";
    color: #0366d6;
    line-height: 100%;
}

/* 超链接 */
a{
    text-decoration: none;
    word-wrap: break-word;
    color: #1e6bc8;
    font-weight: 600;
    margin: 2px;
}

/* 图片 */
img{
    display: block;
    border-radius: 6px;
    box-shadow: 0 0 10px #2c3e50;
    margin: 20px auto; /* 图片水平居中 */
    max-width: 90%;
}

/* 表格 */
table{
    display: table;
    width: 100%;
    text-align: left;
}
table th {
    font-weight: bold;
    border: 1px solid #2b2b2b;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
    text-align: center;
}
table tr{
    border: 0;
    border-top: 1px solid #2b2b2b;
    background-color: #f4f4f4;
    border-bottom: 2px solid #2b2b2b;
}
table td {
    border: 1px solid #2b2b2b;
    margin: 0;
    padding: 6px 13px;
}

/*引用*/
#write blockquote {
    display: block;
    font-size: .9em;
    overflow: auto;
    border-left: 3px solid rgb(239, 112, 96);
    color: #6a737d;
    padding: 10px 10px 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fff9f9;
}
  

/* 行内代码 */
#write p code,
#write li code {
  font-size: .9rem;
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color:  rgb(239, 112, 96);;
  background-color: rgba(27,31,35,.05);
  font-family: Consolas, Monaco, Menlo, monospace;
  word-break: break-all;
}
/* mac风格代码块窗口-light */
#write pre.md-fences {
    /* 渲染窗口栏 */
	padding: 1rem 0.5rem 1rem;
	display: block;
	-webkit-overflow-scrolling: touch;
    border-top: #f4f4f4 solid 35px;
    background-color: #2b2b2b;
}
.md-fences::before {
    /* 渲染mac窗口三点 */
	content: ' ';
	background: #E0443E;
	box-shadow: 23px 0 #DEA123, 45px 0 #1AAB29;
	border-radius: 50%;
	margin-top: -2.3rem;
	position: absolute;
	left: 15px;
	height: 12px;
	width: 12px;
}

/* 代码块窗口主体 */
.md-fences {
    font-size: 1.2rem;
    border-radius: 6px;
    word-wrap: normal;
    background-color: #2b2b2b;
    color: #A9B7C6;
    font-family: Consolas, Monaco, Menlo, monospace;
    font-weight: bold;
    box-shadow: 0 0 10px #2c3e50;
}
/**
    IDEA代码配色渲染
    code render
    Name: IntelliJ IDEA darcula theme
    From IntelliJ IDEA by JetBrains
 */
.cm-s-inner.CodeMirror {
    background: none;
    color: #A9B7C6;
}
.cm-s-inner span.cm-meta {
    color: #BBB529;
}
.cm-s-inner span.cm-number {
    color: #6897BB;
}
.cm-s-inner span.cm-keyword {
    color: #CC7832;
}
.cm-s-inner span.cm-def {
    color: #FFD760;
}
.cm-s-inner span.cm-variable {
    color: #A9B7C6;
}
.cm-s-inner span.cm-variable-2 {
    color: #A9B7C6;
}
.cm-s-inner span.cm-variable-3 {
    color: #9876AA;
}
.cm-s-inner span.cm-type {
    color: #AABBCC;
}
.cm-s-inner span.cm-property {
    color: #FFC66D;
}
.cm-s-inner span.cm-operator {
    color: #A9B7C6;
}
.cm-s-inner span.cm-string {
    color: #6A8759;
}
.cm-s-inner span.cm-string-2 {
    color: #6A8759;
}
.cm-s-inner span.cm-comment {
    color: #787878;
}
.cm-s-inner span.cm-link {
    color: #CC7832;
}
.cm-s-inner span.cm-atom {
    color: #CC7832;
}
.cm-s-inner span.cm-error {
    color: #BC3F3C;
}
.cm-s-inner span.cm-tag {
    color: #E8BF6A;
}
.cm-s-inner span.cm-quote {
    color: #a6e22e;
}
.cm-s-inner span.cm-attribute {
    color: #9876AA;
}
.cm-s-inner span.cm-qualifier {
    color: #6A8759;
}
.cm-s-inner span.cm-bracket {
    color: #E8BF6A;
}
.cm-s-inner span.cm-builtin {
    color: #FF9E59;
}
.cm-s-inner span.cm-special {
    color: #FF9E59;
}
.cm-s-inner span.cm-matchhighlight {
    color: #FFFFFF;
    background-color: rgba(50, 89, 48, .7);
}
.cm-s-inner span.cm-searching {
    color: #FFFFFF;
    background-color: rgba(61, 115, 59, .7);
}
.cm-s-inner .CodeMirror-gutters {
    border-right: 1px solid rgba(120, 120, 120, 0.3);
}
.cm-s-inner .CodeMirror-linenumber {
    color: #585b5d;
}
.cm-s-inner .CodeMirror-matchingbracket {
    background-color: #3B514D;
    color: #FFEF28 !important;
}
.cm-s-inner .CodeMirror-selected {
    background: #214283 !important;
}
.cm-s-inner .CodeMirror-selectedtext {
    background: #214283 !important;
}
.cm-s-typora-default .CodeMirror-selectedtext {
    background: var(--select-text-bg-color) !important;
}
.cm-overlay.CodeMirror-selectedtext {
    background: var(--select-text-bg-color) !important;
}
.cm-s-inner div.CodeMirror-cursor {
    border-left: 1px solid #A9B7C6;
}